*{
    padding: 0%;
    margin: 0%;
    
}

body
{
    /* font */
    .roboto-regular {
        font-family: "Roboto", system-ui;
        font-weight: 400;
        font-style: normal;
      }
      
      .roboto-thin-italic {
        font-family: "Roboto", system-ui;
        font-weight: 100;
        font-style: italic;
      }      
    
    background-color: blanchedalmond;
    /* background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center; */
}

.navbar{
    background-color: #fd6569;
    color: black;
    padding: 10px;
    padding-left: 3%;
}

.gameof{
    padding: 20px;
    margin: 30px;
    background-color: black;
    color: white;
    width: 25%;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;

     
    
     
     

}
 
.gameofimage{
    width: 98%;
    height: max-content;
    border: solid #fd6569 3px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
     
}

.reele{
    display: inline;
    color: blanchedalmond;
}

.Yea{
    display: inline;
    color: #fd6569;
}
.link12{
    display: block;
    color: #fd6569;
    cursor: pointer;

}
.reviewwdby{
    display: inline;
    margin: 0%;
    margin-top: 10%;
    color: blanchedalmond;
}
 
.reviewname{
    display: inline;
    color: #fd6569;
}

.email1{
    display: inline; 
    color: blanchedalmond;   
}
.Emailid{
    display: inline;
    color: #fd6569;
}

.addbutton{
    background-color: #fd6569;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 50px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

.overley{
    background-color: black;
    width: 100%;
    position: fixed; /* Or use 'fixed' if it should scroll with the viewport */
    top: 0;
    left: 0;
    opacity: 0.9;
    display: none;
    z-index: 1;
    min-height: 100vh; /* Ensures it covers the viewport initially */
    height: auto; /* Allows it to expand with content */

}

.popup1{
    background-color: #fd6569;
    color: black;
    position: absolute;
    width: 40%;
    height: auto;
    left: 30%;
    top: 20%;
    border-radius: 20px;
    display: none;
    z-index: 2;
    
    
}

.poplabel{
    margin-top: 20px;
    margin-left: 20px;
}

.yourname{
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 90%;
    border-bottom: solid black 3px;
    font-size: medium;

}
.youremail{
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 90%;
    border-bottom: solid black 3px;
    font-size: medium;
}

.popintput1{
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 90%;
    border-bottom: solid black 3px;
    font-size: medium;
    
     
     
    
    
}

.popintput2{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 30%;
    height: 22px;
    background-color: #fd6569;
    border: solid black 3px;
    border-radius: 5px;
     
    font-size: medium;
}

.popintput2_1{
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 90%;
    background-color: #fd6569;
    border-bottom: solid black 3px;
    font-size: medium;
}

.popintput3{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-right: 5px;
    width: 90%;
    height: 60px;
    background-color: #fd6569;
    border: black solid 3px;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 0%;
    font-size: large;
    resize: vertical;

}

input[type="file"] {
    display: none;
}
/* Style the custom file input button */
.custom-file-label {
    display: inline-block;
    background-color: #fd6569; /* Custom background color */
    color: black; /* Text color */
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    border-color: #000;
    border-style: solid;    
}

/* You can also style the file name text */
.file-name {
    font-size: 14px;
    color: #000;
    margin-left: 10px;
}

 


.addmoive{  
    margin: 10px;
    margin-left: 5%;
    padding: 10px;
    height: 50px;
    width: 100px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border-color: black;
    border-style: solid;
    cursor: pointer;
}

.reset1{
    margin: 10px;
     
    padding: 10px;
    height: 50px;
    width: 100px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border-color: black;
    border-style: solid;
    cursor: pointer;

}

.popclose{
    margin: 10px;
    padding: 10px;
    height: 50px;
    width: 100px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border-color: black;
    border-style: solid;
    cursor: pointer;

}

input::placeholder {
    color: black;
 }
input:focus{
    outline: none;

}


textarea::placeholder{
    color: black;
}

textarea:focus{
    outline: none;

}


